// Forms

// Conditional Mixins

.form-widget-background--spacing() when not (@color__form--background = @color__body--background) {
	padding: 2em 0;
}

// Global Form Styles

.widget[data-name="signupform"],
.widget[data-name="contactform"],
.widget[data-name="advancedcontactform"] {
	.form-widget-background--spacing();
}

.form {
	margin: 0 auto;

	@media @tablet-horizontal {
		max-width: 100%;
	}
}

// Legend

.form .legend {
	margin-bottom: 1em;
	color: @color__form-legend--text;

    .style--light & {
        color: @contrast--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

// Form

.form .form-group {
	margin-bottom: 1em;

	&:last-of-type {
		margin-bottom: 0;
	}
}

// Label

.form label {
	margin: 0 0 0.3em;
	line-height: 1.5em;
}

label {
	font-family: @font__p--font-family;
	font-size: @font__p--font-size * 0.8;
}

input,
input[type="search"],
input[type="email"],
input[type="password"],
.input--single-line,
.input--search,
textarea,
select {
	height: 40px;
	font-size: @font__p--font-size;
}

// Text Inputs

input,
input[type="search"],
input[type="email"],
input[type="password"],
.input--single-line,
.input--search,
textarea {
    padding: 0.6em 1em;
    background-color: transparent;
    border: 1px solid @color__form--border;
    color: @color__p--text;
	.transition();
    .appearance(none);
	
	&:hover {
		background-color: transparent;
    	border: 1px solid @color-highlight;

        .style--light &,
        .style--dark & {
            background-color: @color--light;
            border-color: @color--accent;
        }

        .style--accent & {
            background-color: @color--light;
            border-color: @contrast--accent;
        }
	}
	
	// Focus style for easier keyboard navigation
	
	&:focus {
		background-color: @color__form--background;
		border: 1px solid @color-highlight;
		.box-shadow(none);

        .style--light & {
            background-color: @color--light;
            border-color: @color--accent;
            color: @contrast--light;
        }

        .style--accent & {
            background-color: @color--light;
            border-color: @contrast-accent;
            color: @contrast--light;
        }

        .style--dark & {
            background-color: @color--light;
            border-color: @color--accent;
            color: @contrast--light;
        }
	}

    .style--light & {
        border-color: lighten(@color--accent, 30%);
        color: @contrast--light;
    }

    .style--accent & {
        border-color: fade(@contrast--accent, 65%);
        color: @contrast--accent;
    }

    .style--dark & {
        border-color: fade(@contrast--dark, 65%);
        color: @contrast--dark;
    }
}

// Multiple Lines Inputs

textarea {
    display: block;
}

// Placeholders

::-webkit-input-placeholder {
   color: @color-text--light;

    .style--light & {
        color: @contrast--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

   .style--dark & {
        color: @contrast--dark;
    }
}

:-moz-placeholder {
   color: @color-text--light;

   .style--light & {
        color: @contrast--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

   .style--dark & {
        color: @contrast--dark;
    }
}

::-moz-placeholder {
   color: @color-text--light;

   .style--light & {
        color: @contrast--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

   .style--dark & {
        color: @contrast--dark;
    }
}

:-ms-input-placeholder {
   color: @color-text--light;

   .style--light & {
        color: @contrast--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

   .style--dark & {
        color: @contrast--dark;
    }
}

input:hover,
input:focus {
    &::-webkit-input-placeholder {
        color: transparent;
    }

    &:-moz-placeholder {
        color: transparent;
    }

    &::-moz-placeholder {
        color: transparent;
    }

    &:-ms-input-placeholder {
        color: transparent;
    }
}

// Radio Buttons and Checkboxes

.widget .form {
	.option-list,
	[class*="form-group--terms"] {
		margin-top: 1em;

		.label--radio,
		.label--checkbox,
		label[for*="input--terms"],
		label[for*="input--terms"] span a.form__link {
			.paragraph;
			line-height: 1.3em;

            .style--light & {
                color: @contrast--light;
            }

            .style--accent & {
                color: @contrast--accent;
            }

            .style--dark & {
                color: @contrast--dark;
            }
		}

		input[type="radio"],
		input[type="checkbox"] {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0 !important;
			padding: 0 !important;
			width: 100% !important;
			height: 100% !important;

			&:hover + label:before {
				border: 1px solid transparent;
				background-color: fade(@color__form--background, 75%);

                .style--light & {
                    background-color: transparent;
                    border-color: fade(@color--accent, 65%);
                }

                .style--accent & {
                    background-color: transparent;
                    border-color: fade(@contrast--accent, 65%);
                }

                .style--dark & {
                    background-color: transparent;
                    border-color: fade(@contrast--accent, 65%);
                }
			}

			&:checked + label:before {
				border: 1px solid @color__button--background;

                .style--light & {
                    border-color: @color--accent;
                }

                .style--accent & {
                    border-color: @contrast--accent;
                }

                .style--dark & {
                    border-color: @contrast--dark;
                }
			}

			&:checked + label:after {
				opacity: 1;
			}

			&:focus + label:before,
			&:focus:checked + label:before {
				border: 1px solid @color-highlight--light;

                .style--light & {
                    border-color: @color--accent;
                }

                .style--accent & {
                    border-color: @contrast--accent;
                }

                .style--dark & {
                    border-color: @contrast--dark;
                }
			}
		}

		.option-item--radio,
		.option-item--checkbox,
		&[class*="form-group"] {
			position: relative;
			width: 100%;
			margin-bottom: @font__p--line-height / 2;
			padding: 0;

			label {
				position: relative;
				cursor: pointer;
				display: block;
				margin-left: 40px;
				.transform-scale(1);
				word-break: break-word;
				
				&:before,
				&:after {
					cursor: pointer;
				}

				&:before {
					content: " ";
					position: absolute;
					background-color: @color__form--background;
					border: 1px solid transparent;
                    left: -40px;
                    width: 22px;
                    height: 22px;

                    .style--light & {
                        background-color: transparent;
                        border-color: fade(@color--accent, 65%);
                    }

                    .style--accent & {
                        background-color: transparent;
                        border-color: fade(@contrast--accent, 65%);
                    }

                    .style--dark & {
                        background-color: transparent;
                        border-color: fade(@contrast--accent, 65%);
                    }
				}

				&:after {
					opacity: 0;
					position: absolute;
					.transition(opacity, 0.1s);
				}
			}
		}

		.option-item--radio {
			label {
				&:before {
					.border-radius(1em);
				}

				&:after {
					content: " ";
					.border-radius(1em);
					background-color: @color__button--background;
					top: 1px;
					left: -39px;
					width: 20px;
					height: 20px;
					.transform-scale(0.5);

                    .style--light & {
                        background-color: @color--accent;
                    }

                    .style--accent & {
                        background-color: @contrast--accent;
                    }

                    .style--dark & {
                        background-color: @contrast--dark;
                    }
				}
			}
		}

        &[class*="form-group"],
		.option-item--checkbox {
			label {
				&:after {
					color: @color__button--background;
                    content: "\f00c";
                    font-family: 'FontAwesome', sans-serif;
					left: -36px;
					top: 1px;

                    .style--light & {
                        color: @color--accent;
                    }

                    .style--accent & {
                        color: @contrast--accent;
                    }

                    .style--dark & {
                        color: @contrast--dark;
                    }
				}
			}
		}

        &[class*="form-group"] {
            label {
                &:after {
                    @media @tablet-horizontal {
                        content: "";
                        left: -32px;
                        top: -1px;
                    }

                    .style--light & {
                        @media @tablet-horizontal {
                            border-color: @contrast--light;
                        }
                    }

                    .style--accent & {
                        @media @tablet-horizontal {
                            border-color: @contrast--accent;
                        }
                    }

                    .style--dark & {
                        @media @tablet-horizontal {
                            border-color: @contrast--dark;
                        }
                    }
                }

                &:before {
                    height: 35px;
                    width: 35px;
                }
            }
        }
	}
	
	[class*="form-group--terms"] {
		margin-top: 2em;
	}
}

// Select Wrap

.select-wrap {
    position: relative;
	margin-top: 1em;

    @media @mobile {
        max-width: 100%;
    }
	
    // Icon

    &:before {
        content: '\f107';
        font-family: 'FontAwesome', sans-serif;
        display: inline-block;
        height: 1em;
        line-height: 1em;
        text-align: center;
		font-size: 1.5em;
        color: @color__p--text;
        position: absolute;
        right: 0.5em;
        top: 50%;
        margin-top: -0.5em;
        z-index: 1;

        .style--light & {
            color: @contrast--light;
        }

        .style--accent & {
            color: @contrast--accent;
        }

        .style--dark & {
            color: @contrast--dark;
        }

		@media @mobile {
			font-size: 2em;
		}
    }
}

// Select

.select {
    position: relative;
    display: block;
	padding: 0 2em 0 1em;
    width: 100%;
	background-color: transparent;
    border: 1px solid @color__form--border;
    font-size: 1em;
    color: @color__p--text;
    .appearance(none);

    @media @mobile {
		padding: 0 2.7em 0 1em;
    }

    &:hover {
		background-color: transparent;
    	border: 1px solid @color-highlight;

        .style--light & {
            border-color: @color--accent;
        }

        .style--accent & {
            border-color: @contrast--accent;
        }

        .style--dark & {
            border-color: @contrast--dark;
        }
    }

    &:focus,
	&:hover:focus {
		background-color: @color__form--background;
		border: 1px solid @color-highlight;

        .style--light & {
            background-color: @color--light;
            border-color: @color--accent;
        }

        .style--accent & {
            background-color: @color--light;
            border-color: @contrast--accent;
        }

        .style--dark & {
            background-color: @color--light;
            border-color: @contrast--dark;
        }
	}

    .style--light & {
        border-color: lighten(@color--accent, 30%);
        color: @contrast--light;
    }

    .style--accent & {
        border-color: fade(@contrast--accent, 65%);
        color: @contrast--accent;
    }

    .style--dark & {
        border-color: fade(@contrast--dark, 65%);
        color: @contrast--dark;
    }
}

.select::-ms-expand {
    display: none;
}

// Error Messages

.form {
    input.error {
        border: none !important;
    }

    textarea.error {
        border: 1px solid @message-color--error !important;
    }

    .form-group {
        .error {
            border-bottom: 2px solid @message-color--error !important;

            &:focus {
				.box-shadow(none);
            }
        }
    }
}

// Sign Up Form

.signupform {
	.form-body {
		display: table;
		width: 100%;
	}

	.form-group {
		display: table-cell;
		vertical-align: middle;
		height: 3em;
		
		&:first-child {
			width: 100%;
		}
		
		.button {
			white-space: nowrap;
		}
	}

	label {
		display: none;
	}
}

.contactform,
.advancedcontactform {
	button {
		float: right;
	}
}

// Registration Form

.widget.userregistration {
	fieldset {
		margin: 0 auto;
		padding: 0;
		border: none;
		max-width: 400px;
		
		@media @mobile {
			max-width: none;
		}

		.responsivecolumns & {
			max-width: none;
		}

		input {
			width: 100%;
			box-sizing: border-box;
		}

		.error {
			padding: 20px 0 0;

			&[style*="display: block"] {
				padding: 20px 0;
			}

			&[style*="display: none"] {
				display: block !important;
			}
		}
	}
}