// Navigation

// Logo & Company Name

.template__company {
    z-index: 3;
    margin: 1em 0;
	
	@media @tablet {
		flex-grow: 1;
	}
	
	.widget {
		display: table-cell;
		vertical-align: middle;
		
		@media @mobile {
		    padding-left: 0;
		}
	}
}

.logo {
	padding-right: 1.5em;
    font-size: 1em;
	
	&__logo-image {
	    .transition();
		min-width: 2em;
	    
		.template__header--small & {
			max-height: 2em;
			width: auto !important;
			height: auto !important;
		}
		
		@media @tablet {
			&, .template__header--small & {
				max-height: 2.5em;
				width: auto !important;
				height: auto !important;
			}
		}
	}
}

.companyname {
    line-height: 0;

	&__company-link {
		margin: 0;
		font-family: @font__companyname--font-family;
		font-size: @font__companyname--font-size;
		font-weight: @font__companyname--font-weight;
		line-height: @font__companyname--line-height;
		letter-spacing: @font__companyname--letter-spacing;
		color: @color__companyname--text;
		hyphens: auto;
		word-break: break-word;

		.make-font-a-little-smaller(@font__companyname--font-size);
		.make-font-smaller(@font__companyname--font-size);
		.make-font-a-lot-smaller(@font__companyname--font-size);
	
		.make-line-height-a-little-smaller(@font__companyname--line-height);
		.make-line-height-smaller(@font__companyname--line-height);
		.make-line-height-a-lot-smaller(@font__companyname--line-height);

		&:hover {
			text-decoration: none;
			color: @color__navigation--text--hover;
		}
	}
}

// Navigation


html.nav-open {
	overflow: hidden;
}

.template__navigation {
	flex-grow: 1;
	min-width: 50%;

	@media @tablet {
		position: static;
		flex-grow: inherit;
		z-index: 500;
		min-height: 26px;
		min-width: 60px;
	}

	.widget[data-widget-type="extendednavigation"] {
		position: relative;
		
		@media @tablet {
			position: static;
		}
	}
}

// Navigation Toggle Button

.navigation-toggle {
	display: none;
	
	@media @tablet {
		z-index: 100;
		cursor: pointer;
		display: block;
		position: absolute;
		left: auto;
		right: 38px;
		background: transparent;
		margin: 0;
		padding: 0;
		height: 1em;
		width: 28px;
		font-size: 26px;
		text-indent: 10000px;

		&:hover {
			background: transparent;
		}

		.make-font-a-little-smaller(@font__companyname--font-size);
		.make-font-smaller(@font__companyname--font-size);
		.make-font-a-lot-smaller(@font__companyname--font-size);
	
		.make-line-height-a-little-smaller(@font__companyname--line-height);
		.make-line-height-smaller(@font__companyname--line-height);
		.make-line-height-a-lot-smaller(@font__companyname--line-height);
		
		span {
			position: relative;
            display: block;
            height: 3px;
            width: 28px;
		    background-color: @color__navigation--text;
			.transition(all, 0.25s, ease-in);

			.open & {
				background-color: transparent;
			}

			// Top and Bottom Navigation Item Bar

			&:after,
			&:before {
				content: '';
				position: absolute;
				display: block;
				height: 3px;
				width: 28px;
				background-color: @color__navigation--text;
				.transition(all, 0.25s, ease-in);
			}

			// Top Bar
			
			&:before {
				top: 10px;

				.open & {
					top: 0;
					transform: rotate(45deg);
				}
			}

			// Bottom Bar
			
			&:after {
				bottom: 10px;

				.open & {
					bottom: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}

	@media @mobile {
	    right: 8%;
	}

	// Toggle Button Open

	.open & {
		@media @tablet {
			
			// Middle bar
			
			background: transparent;
			
			// Top and bottom bar
			
			&:before,
			&:after {
			  .transition-delay(0s, 0.05s);
			}
			
			// Top Bar

			&:before {
				top: 0;
				background: @color__navigation--text;
				.transform-rotate(45deg);

			}
			
			// Bottom Bar

			&:after {
				bottom: 0;
				background: @color__navigation--text;
				.transform-rotate(-45deg);
			}
		}
	}
}

// Navigation Body

.navigation-body {
	.transition(opacity, 0s);
	
	@media @tablet {
		outline: 0;
		height: 0;
		width: 0;
		opacity: 0;
		display: none;

		.open & {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 1;
			width: auto;
			width: 100vw;
			overflow: auto;
			height: auto;
			height: 100vh;
			background-color: fade(@color__header--background, 90%);
			.transition(opacity, 0.25s);
		}
	}
}

// Navigation List

.navigation-list {
	padding: 1.5em 0;
	.transition();
	
    @media @tablet {
		display: block;
		height: auto;
		max-width: 500px;
		margin: 150px auto 0;
		text-align: center;
	}
	    
	.template__header--small & {
    	padding: 0;
	}
}

// Navigation Items

.navigation-item {
	margin-bottom: 0;
	padding: 0;
	
    @media @tablet {
		display: block;
		text-align: center;
	}
	
	.item-name {
		position: relative;
		padding: 0.5em 0;
		margin: 0 1em;
		font-family: @font__navigation--font-family;
		font-size: @font__navigation--font-size;
		font-weight: @font__navigation--font-weight;
		line-height: @font__navigation--line-height;
		letter-spacing: @font__navigation--letter-spacing;
		color: @color__navigation--text;
		.transition (all, 0.5s, ease);
        word-break: break-word;
		
		@media @tablet {
			padding: 0.5em 0;
			font-size: @font__navigation--font-size * 1.2;
			line-height: @font__navigation--line-height * 1.2;
		}
		
		&:hover {
			color: @color__navigation--text--hover;
			.transition (all, 0.5s, ease);
			
			@media @tablet {
				color: @color__navigation--text--hover;
			}
		}
	}

	&.selected > .item-name {
		color: @color__navigation--text--selected;

		@media @tablet {
			color: @color__navigation--text--selected;
		}
	}

	&.selected:hover > .item-name,
	&.selected:active > .item-name {
		.box-shadow(none);
	}
}

// Navigation Folder Item

.navigation-item.folder {
	
	// Folder Icon
	
	> .item-name {
		&:after {
			right: 0.5em;
			margin-left: 0.3em;
			width: 1em;
    		height: 1em;
			line-height: 1em;
			font-size: 1.2em;
			content: '\f107';
			font-family: 'FontAwesome', sans-serif;
			text-align: right;
		}
	}
	
	&.folder-open > .item-name {
		color: darken(@color__navigation--text, 20%);
	}
}

// Navigation Folder Submenu

.navigation-list--children {
	.navigation-item.folder &,
	.navigation-item.folder:hover &,
	.navigation-item.folder:active & {
		position: absolute;
		right: 0;
		left: auto;
		opacity: 0;
		margin: 0.5em 1.5em 0;
		padding: 0;
		min-width: 300px;
		max-width: 500px;
		height: 0;
		width: auto;
		background-color: @color__navigation-list--background;
		overflow: hidden;
		text-align: center;
		transform: translateY(10px);
		transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
		.box-shadow(0px 5px 20px 0px fade(#000000, 15%));

		@media @tablet {
			position: static;
			margin: 0;
			padding: 0;
			.box-shadow(none);
			transform: none;
		}
	}
	
	.navigation-item.folder.folder-open & {
    	overflow: visible;
		display: block;
		opacity: 1;
		height: auto;
		transform: translateY(0);
		transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;

		@media @tablet {
			position: static;
			margin: 0 0 0.5em;
			padding: 0;
			transform: none;
		}
	}
}

// Navigation Folder Submenu Single Item

.navigation-item--child {
	&:first-child {
		padding-top: 1em;
	}

	&:last-child {
		padding-bottom: 1em;
	}

	@media @tablet {
		display: block;
	}

	.item-name {
		color: @color__navigation--text;
		border-bottom: 0;

		@media @tablet {
		}
		
		&:hover {
			color: @color__navigation--text--hover;
			border-bottom: 0;
		}
	}

	// Selected Folder Item

	&.selected .item-name {
		color: @color__navigation--text--selected;
	}
}

.navigation-item.folder {
	
	// Open Submenu
	
	&.folder-open:hover .navigation-list--children,
	&.folder-open:active .navigation-list--children,
	&.folder-open .navigation-list--children {
		opacity: 1;
	}
}