// Slideshow

// Slideshow Mixins

.controls-font-size() {
	font-size: 25px;

	@media @tablet {
		font-size: 20px;
	}
}

.responsiveslideshow {
	margin-bottom: 60px;
}

.slides-list,
.pagination-list,
.responsiveslideshow .figure {
	height: 18px;
	min-height: 100%;
}

.responsiveslideshow__figure,
.responsiveslideshow__slides-list {
    height: 700px;

    @media @tablet-horizontal {
    	height: 500px;
    }

    @media @tablet {
    	height: 400px;
    }
}

// Slideshow Item

.responsiveslideshow__slide-item {
	position: absolute;
	display: block;
	opacity: 0;
	margin: 0;
	padding: 0;
	height: 100%;
    width: 100%;

	&.current {
		opacity: 1;
		position: relative;
	}
	
	&.current + .slide-item {
		display: none;
	}
}

.responsiveslideshow .contain .figure {
	background-color: fade(@color__container--background, 20%);

	.style--light & {
		border-color: fade(@color__container--background, 20%);
	}

	.style--accent & {
		border-color: fade(@contrast--accent, 20%);
	}

	.style--dark & {
		border-color: fade(@contrast--dark, 20%);
	}
}

.responsiveslideshow__image {
	display: none;
}

// Slide Caption

.responsiveslideshow .caption {
	display: block;
	position: absolute;
	bottom: 0;
	margin: 0;
	background-color: fade(@color__slideshow-caption--background, 80%);
	text-align: center;
	.display-flex(flex);
    .flex-direction(column);
    .justify-content(center, center);
	.controls-font-size();
}

.responsiveslideshow__image-title {
	color: @color__slideshow-title--text;
	font-size: @font__h4--font-size;
	
	.make-font-a-little-smaller(@font__h4--font-size);
	.make-font-smaller(@font__h4--font-size);
	.make-font-a-lot-smaller(@font__h4--font-size);

	.style--light &,
	.style--accent &,
	.style--dark & {
		color: @color__slideshow-title--text;
	}
}

.responsiveslideshow__image-description {
	color: @color__slideshow-description--text;
	line-height: 1.3em;

	.style--light &,
	.style--accent &,
	.style--dark & {
		color: @color__slideshow-description--text;
	}
}

// Slide Navigation Buttons

.slide-navigation {
	display: block;
	position: absolute;
	top: 50%;
    left: 0;
    right: 0;
	margin: 0;
	
	// Button

	.button {
		position: absolute;
		top: 0;
		margin: 0;
		padding: 0;
		height: 50px;
		width: 50px;
	    border: none;
		background-color: transparent;
		border: 1px solid @color__slideshow-pagination-item--background;
		background-color: fade(@color__slideshow--background, 60%);
		color: @color__slideshow-pagination-item--background;
		.box-shadow(none);
		.transition(border);
		.border-radius(50%);
		z-index: 2;
		.controls-font-size(16px);
		
		&:before,
		&:after {
			display: block;
			margin-right: 0;
    		margin-left: 0;
			font-size: 14px;
			line-height: 49px;
			height: 49px;
			width: 49px;
		}
	}

	.control-text {
		display: none;
	}

	.previous-button {
		left: 20px;
    	-webkit-transform: translate(0,-50%);
		-moz-transform: translate(0,-50%);
		-ms-transform: translate(0,-50%);
		-o-transform: translate(0,-50%);
		transform: translate(0,-50%);
	}

	.next-button {
    	right: 20px;
    	-webkit-transform: translate(0,-50%);
		-moz-transform: translate(0,-50%);
		-ms-transform: translate(0,-50%);
		-o-transform: translate(0,-50%);
		transform: translate(0,-50%);
	}

	.pause-toggle {
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);

		// Play Icon

		&.icon--pause:before {
			margin-left: 1px !important;
		}
	}
}

// Slide Pagination

.responsiveslideshow__slide-pagination {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 1;

	@media @mobile {
		bottom: -30px;
	}
    
	.responsivecolumns & {
		bottom: -30px;
	}

	.pagination-list {
		text-align: center;
	}
}
	
.responsiveslideshow__pagination-item {
	position: relative;
    margin: 0 0 20px;
	padding: 0 10px;
    height: 0;

	@media @tablet {
		margin: 0 0 35px;
		padding: 0 4px;
	}

	.button {
		background-color: transparent;
		width: 10px;
		height: 10px;
		display: block;
		overflow: hidden;
		text-indent: -10000px;
		.border-radius(50%);
		padding: 0;
		border: 1px solid @color__slideshow-pagination-item--text;

		.style--light & {
            border-color: @color__slideshow-pagination-item--text;
        }

        .style--accent & {
            border-color: @contrast--accent;
        }

        .style--dark & {
            border-color: @contrast--dark;
        }

		@media @tablet {
			width: 16px;
			height: 16px;
		}
		
		&:hover {
			margin: 0;
			padding: 0;
			.box-shadow(none);
		}
	}

	&.selected .button {
		background: @color__slideshow-pagination-item--text--selected;

		.style--light & {
            background: @color__slideshow-pagination-item--text--selected;
        }

        .style--accent & {
            background: @contrast--accent;
        }

        .style--dark & {
            background: @contrast--dark;
        }
	}
}