// TABLE

table {
	overflow: auto;
	width: 100%;
	border: none;
	border-collapse: separate;
	border-spacing: 0;
	margin: 1.5em 0;
	.paragraph;

	.style--light & {
		border-top-color: @contrast--light;
	}

	.style--accent & {
		border-top-color: @contrast--accent;
	}

	.style--dark & {
		border-top-color: @contrast--dark;
	}
}

// Table Cell

td, th {
	border: none;
	background-color: transparent;
	color: @color__p--text;
}

th {
	padding: 0.5em;
	border-bottom: 3px solid @color-text--light;
	background-color: @color__primary;
	text-align: left;
	font-family: @font__h4--font-family;
	font-weight: @font__h4--font-weight;
	font-size: @font__h4--font-size;
	line-height: @font__h4--line-height;
	letter-spacing: @font__h4--letter-spacing;
	color: @color__h4--text;
	
	.make-font-a-little-smaller(@font__h4--font-size);
	.make-font-smaller(@font__h4--font-size);
	.make-font-a-lot-smaller(@font__h4--font-size);

	.style--light & {
		border-bottom-color: @contrast--light;
		color: @contrast--light;
	}

	.style--accent & {
		border-bottom-color: @contrast--accent;
		color: @contrast--accent;
	}

	.style--dark & {
		border-bottom-color: @contrast--dark;
		color: @contrast--dark;
	}
	
	@media @mobile {
		display: none;
	}
	
	.responsivecolumns .columns-two-left &,
	.responsivecolumns .columns-two-right & {
		@media @tablet-horizontal {
			display: none;
		}
	}
	
	.responsivecolumns .columns-three-left &,
	.responsivecolumns .columns-three-middle &,
	.responsivecolumns .columns-three-right &,
	.responsivecolumns .columns-four-first &,
	.responsivecolumns .columns-four-second &,
	.responsivecolumns .columns-four-third &,
	.responsivecolumns .columns-four-fourth & {
		display: none;
	}
}

td {
	border-bottom: 1px solid @color-text--light;
	padding: 1em 0.5em;
	font-family: @font__p--font-family;
	font-weight: @font__p--font-weight;
	font-size: @font__p--font-size;
	line-height: @font__p--line-height;
	letter-spacing:  @font__p--letter-spacing;
	color: @color__p--text;
	
	.make-font-a-little-smaller(@font__p--font-size);
	.make-font-smaller(@font__p--font-size);
	.make-font-a-lot-smaller(@font__p--font-size);

	.style--light & {
		border-bottom-color: fade(@contrast--light, 60%);
	}

	.style--accent & {
		border-bottom-color: fade(@contrast--accent, 60%);
	}

	.style--dark & {
		border-bottom-color: fade(@contrast--dark, 60%);
	}
	
	@media @mobile {
		display: block;
		padding: 0 0.5em;
		border-bottom: none;
	}
	
	&:first-child {
		@media @mobile {
			padding: 1em 0.5em 0;
		}
	}
	
	&:last-child {
		@media @mobile {
			padding: 0 0.5em 1em;
			border-bottom: 1px solid fade(@color__p--text, 60%);

			.style--light & {
				border-bottom-color: fade(@contrast--light, 60%);
			}
		
			.style--accent & {
				border-bottom-color: fade(@contrast--accent, 60%);
			}
		
			.style--dark & {
				border-bottom-color: fade(@contrast--dark, 60%);
			}
		}
	}
	
	.responsivecolumns .columns-two-left &,
	.responsivecolumns .columns-two-right & {
		@media @tablet-horizontal {
			display: block;
			padding: 0 0.5em;
			border-bottom: none;
		}

		&:first-child {
			@media @tablet-horizontal {
				padding: 1em 0.5em 0;
			}
		}

		&:last-child {
			@media @tablet-horizontal {
				padding: 0 0.5em 1em;
				border-bottom: 1px solid fade(@color__p--text, 60%);

				.style--light & {
					border-bottom-color: fade(@contrast--light, 60%);
				}
			
				.style--accent & {
					border-bottom-color: fade(@contrast--accent, 60%);
				}
			
				.style--dark & {
					border-bottom-color: fade(@contrast--dark, 60%);
				}
			}
		}
	}
	
	.responsivecolumns .columns-three-left &,
	.responsivecolumns .columns-three-middle &,
	.responsivecolumns .columns-three-right &,
	.responsivecolumns .columns-four-first &,
	.responsivecolumns .columns-four-second &,
	.responsivecolumns .columns-four-third &,
	.responsivecolumns .columns-four-fourth & {
		display: block;
		padding: 0 0.5em;
		border-bottom: none;

		&:first-child {
			padding: 1em 0.5em 0;
		}

		&:last-child {
			padding: 0 0.5em 1em;
			border-bottom: 1px solid fade(@color__p--text, 60%);

			.style--light & {
				border-bottom-color: fade(@contrast--light, 60%);
			}
		
			.style--accent & {
				border-bottom-color: fade(@contrast--accent, 60%);
			}
		
			.style--dark & {
				border-bottom-color: fade(@contrast--dark, 60%);
			}
		}
	}
}

tr:last-child td {
	border-bottom: 1px solid @color__p--text;

	.style--light & {
		border-bottom-color: @contrast--light;
	}

	.style--accent & {
		border-bottom-color: @contrast--accent;
	}

	.style--dark & {
		border-bottom-color: @contrast--dark;
	}
	
	@media @mobile {
		border-bottom: none;
	}
	
	&:last-child {
		@media @mobile {
			border-bottom: 1px solid @color__p--text;

			.style--light & {
				border-bottom-color: @contrast--light;
			}
		
			.style--accent & {
				border-bottom-color: @contrast--accent;
			}
		
			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}
	}
	
	.responsivecolumns .columns-two-left &,
	.responsivecolumns .columns-two-right & {
		@media @tablet {
			border-bottom: none;
		}

		&:last-child {
			@media @tablet {
				border-bottom: 1px solid @color__p--text;

				.style--light & {
					border-bottom-color: @contrast--light;
				}
			
				.style--accent & {
					border-bottom-color: @contrast--accent;
				}
			
				.style--dark & {
					border-bottom-color: @contrast--dark;
				}
			}
		}
	}
	
	.responsivecolumns .columns-three-left &,
	.responsivecolumns .columns-three-middle &,
	.responsivecolumns .columns-three-right &,
	.responsivecolumns .columns-four-first &,
	.responsivecolumns .columns-four-second &,
	.responsivecolumns .columns-four-third &,
	.responsivecolumns .columns-four-fourth & {
		border-bottom: none;

		&:last-child {
			border-bottom: 1px solid @color__p--text;

			.style--light & {
				border-bottom-color: @contrast--light;
			}
		
			.style--accent & {
				border-bottom-color: @contrast--accent;
			}
		
			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}
	}
}