<div class="hero">

    {{widget('feature', 'featurehome', {
        'header': 'profile',
        'strapline': 'profile',
        'defaultBgImg': asset('images/feature-bg.png'),
        'positionTopPercentage': '50',
        'showBtn': true,
        'buttonText': 'Go to Gallery'
    })|raw}}

</div>
